@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
:root {
  --text-color: hsl(229, 31%, 21%);
  --text-blue: hsl(231, 69%, 60%);
  --primary-red: hsl(0, 94%, 66%);
  --primary-blue: hsl(231, 69%, 60%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
}
h1, h2, h3, h4 {
  color: var(--text-color);
}
p {
  color: rgb(133, 133, 133);
}
.nav {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 2rem 10rem;
  &__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
  }
  &__rounded {
    margin-right: .8rem;
    padding: .25rem .6rem;
    background-color: var(--text-blue);
    border-radius: 30px;
  }
  &__title {
    font-weight: 500;
  }
  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    li {
      margin-left: 2.5rem;
      letter-spacing: 0.040rem;
      font-size: .9rem;
    }
    a {
      text-decoration: none;
      color: var(--text-color);
      &:hover {
        color: var(--primary-red);
      }
    }
  }
  &__button {
    background-color: var(--primary-red);
    border: 0;
    color: #fff;
    text-transform: uppercase;
    padding: .5rem 1.5rem;
    border-radius: 6px;
    box-shadow: 0 .25rem 1rem rgba(#000, .2);
    &:hover {
      background-color: white;
      color: var(--primary-red);
      border: 1px solid var(--primary-red);
    }
  }
  &__icon {
    color: white;
    font-size: .8rem;
  }
}
.feature {
  text-align: center;
  margin: auto;
}
.card {
  position: relative;
  display: flex;
  justify-content: space-around;
  &__back {
    width: 36%;
    height: 300px;
    background-color: var(--primary-blue);
    position: absolute;
    top: 25%;
    right: 80%;
    z-index: -1;
    border-radius:40px 999em 999em 40px;
  }
}
.btn {
  width: 150px;
  height: 40px;
  margin-right: 15px;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 .4rem 1rem rgba(158, 158, 158, 0.2);
  &--blue {
    background-color: var(--primary-blue);
    color: white;
    &:hover {
      background-color: white;
      border: 1px solid var(--primary-blue);
      color: var(--primary-blue);
      cursor: pointer;
    } 
  }
  
  &--white {
    background-color: rgb(215, 215, 215);
    &:hover {
      background-color: white;
      border:1px solid #000;
      cursor: pointer;
    }
  }
}
.container {
  max-width: 1440px;
  margin: auto;
  .section {
    position: relative;
    width: 100%;
    padding: 15rem 0;
    display: flex;
    justify-content: space-between;
    &__welcome {
      width: 100%;
      h1 {
        font-size: 2.2rem;
      }
      p {
        font-size: 1rem;
        padding: .5rem 0;
        margin: 1.5rem 0;
        max-width: 600px;
      }
      .image__hero {
        position: absolute;
        top: 15%;
        left: 60%;
      }
      .image__back {
        width: 36%;
        height: 300px;
        background-color: var(--primary-blue);
        position: absolute;
        top: 35%;
        left: 80%;
        z-index: -1;
        border-radius: 999em 40px 40px 999em;
      }
    }
    &__features {
      display: flex;
      flex-direction: column;
      h2, h3 {
        margin: 2rem 0;
      }
      hr {
        margin: 1.5rem 0;
      }
      p {
        max-width: 600px;
        margin: auto;
      }
      button {
        margin: 1rem 0;
      }
    }
    &__download {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h3 {
        margin: 1.5rem 0;
      }
      p {
        max-width: 600px;
        text-align: center;
      }
      article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2.5rem 0;
        background-color: aliceblue;
        padding: 3rem;
        img {
          width: 128px;
          margin:1.52rem 0;
        }
        span {
          font-size: 1.2rem;
          color: var(--text-color);
        }
        p, span {
          margin: .25rem 0;
        }
        p {
          text-align: center;
        }
      }
    }
    &__article {
      display: flex;
      justify-content: space-around;
      gap: 10px;
    }
    &__faq {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        max-width: 600px;
        margin: 1.5rem 0;
        text-align: center;
      }
      h4 {
        font-size: 1.4rem;
      }
    }
    article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
.section__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-blue);
    color: #fff;
    margin-top: 2rem;
    padding: 8rem 0;
    h4 {
      font-size: 1.6rem;
      color: #fff;
      margin: 2rem 0;
    }
    input {
      width: 280px;
      height: 40px;
      margin-right: 1.5rem;
      border-radius: 6px;
      border: 0;
      outline: 1px solid #333;
    }
    .btn {
      background-color: var(--primary-red);
      color: #fff;
      &:hover {
        background-color: white;
        border: 1px solid var(--primary-red);
        color: var(--primary-red);
        cursor: pointer;
      }
    }
}
.footer {
  background-color: var(--text-color);
    &__list {
      display: flex;
      justify-content: space-between;
      list-style: none;
      padding: 1.5rem 0;
      a {
        color: #fff;
        text-decoration: none;
      }
      span { 
        color: #fff;
      }
      a:hover {
        color: var(--primary-red);
      }
  }
}